<script setup>
const route = useRoute();

const showRoute = computed(() => {
  if (route.path == "/") {
    return null;
  } else {
    return route.name.split("__")[0].toUpperCase();
  }
});
</script>
<template>
  <FpLink
    href="/"
    class="flex items-center gap-4 fill-white transition duration-300 ease-in-out hover:opacity-50 ltr:flex-row rtl:flex-row-reverse"
  >
    <!-- SVG Icon Logo -->
    <svg viewBox="0 0 448 512" class="h-8">
      <title>Fedora Icon</title>
      <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
      <path
        d="M.0413 255.8C.1219 132.2 100.3 32 224 32C347.7 32 448 132.3 448 256C448 379.7 347.8 479.9 224.1 480H50.93C22.84 480 .0832 457.3 .0416 429.2H0V255.8H.0413zM342.6 192.7C342.6 153 307 124.2 269.4 124.2C234.5 124.2 203.6 150.5 199.3 184.1C199.1 187.9 198.9 189.1 198.9 192.6C198.8 213.7 198.9 235.4 198.1 257C199 283.1 199.1 309.1 198.1 333.6C198.1 360.7 178.7 379.1 153.4 379.1C128.1 379.1 107.6 358.9 107.6 333.6C108.1 305.9 130.2 288.3 156.1 287.5H156.3L182.6 287.3V250L156.3 250.2C109.2 249.8 71.72 286.7 70.36 333.6C70.36 379.2 107.9 416.5 153.4 416.5C196.4 416.5 232.1 382.9 236 340.9L236.2 287.4L268.8 287.1C294.1 287.3 293.8 249.3 268.6 249.8L236.2 250.1C236.2 243.7 236.3 237.3 236.3 230.9C236.4 218.2 236.4 205.5 236.2 192.7C236.3 176.2 252 161.5 269.4 161.5C286.9 161.5 305.3 170.2 305.3 192.7C305.3 195.9 305.2 197.8 305 199C303.1 209.5 310.2 219.4 320.7 220.9C331.3 222.4 340.9 214.8 341.9 204.3C342.5 200.1 342.6 196.4 342.6 192.7H342.6z"
      />
    </svg>
    <!-- SVG Text Logo -->
    <svg viewBox="-0.306 -0.306 88.612 25.612" class="hidden h-6 md:block">
      <title>Fedora Text Logo</title>
      <g>
        <path
          d="M14.034 8.598C11.041 9.787 9.009 12.708 9 16.312c-.009 3.777 2.567 8.65 7.901 8.688 3.588.023 5.383-1.355 6.351-2.292.308-.28.492-.677.511-1.099a1.588 1.588 0 0 0-.412-1.143 1.501 1.501 0 0 0-2.188-.032c-.722.697-1.786 1.732-4.806 1.388-1.297-.147-2.689-1.229-3.154-2.056l9.895-4.321c.755-.345 1.104-1.248.783-2.032-1.766-3.57-4.897-6.78-9.847-4.815Zm6.21 4.697-8.233 3.613c-.587-2.254 1.822-4.905 3.137-5.399 1.97-.74 4.144.093 5.096 1.786Z"
        />
        <path
          d="M14.034 8.598C11.041 9.787 9.009 12.708 9 16.312c-.009 3.777 2.567 8.65 7.901 8.688 3.588.023 5.383-1.355 6.351-2.292.308-.28.492-.677.511-1.099a1.588 1.588 0 0 0-.412-1.143 1.501 1.501 0 0 0-2.188-.032c-.722.697-1.786 1.732-4.806 1.388-1.297-.147-2.689-1.229-3.154-2.056l9.895-4.321c.755-.345 1.104-1.248.783-2.032-1.766-3.57-4.897-6.78-9.847-4.815Zm6.21 4.697-8.233 3.613c-.587-2.254 1.822-4.905 3.137-5.399 1.97-.74 4.144.093 5.096 1.786Z"
        />
        <path
          d="M52.001 8c-2.122 0-4.157.895-5.657 2.489C44.843 12.083 44 14.245 44 16.5c0 2.255.843 4.417 2.344 6.011 1.5 1.594 3.535 2.489 5.657 2.489C56.419 24.999 60 21.194 60 16.5S56.419 8.001 52.001 8Zm0 3.185c2.763 0 5.003 2.38 5.004 5.315 0 1.41-.527 2.763-1.465 3.76-.938.997-2.211 1.558-3.539 1.558-1.327 0-2.601-.56-3.539-1.558-.939-.997-1.466-2.35-1.466-3.76.001-2.936 2.242-5.315 5.005-5.315Z"
        />
        <path
          d="M52.001 8c-2.122 0-4.157.895-5.657 2.489C44.843 12.083 44 14.245 44 16.5c0 2.255.843 4.417 2.344 6.011 1.5 1.594 3.535 2.489 5.657 2.489C56.419 24.999 60 21.194 60 16.5S56.419 8.001 52.001 8Zm0 3.185c2.763 0 5.003 2.38 5.004 5.315 0 1.41-.527 2.763-1.465 3.76-.938.997-2.211 1.558-3.539 1.558-1.327 0-2.601-.56-3.539-1.558-.939-.997-1.466-2.35-1.466-3.76.001-2.936 2.242-5.315 5.005-5.315Z"
        />
        <path
          d="M65.582 8.034c-1.361 0-1.588 1.132-1.581 1.588v13.749c-.037.888.693 1.629 1.606 1.629.916 0 1.645-.741 1.608-1.63 0 0 .025-5.113 0-8.385-.025-3.273 2.619-3.983 3.54-3.983.683 0 1.228.384 1.77.364.802-.031 1.462-.574 1.462-1.527-.024-1.537-1.896-1.755-3.276-1.727-1.381.028-2.547.455-3.556 1.063 0 0-.211-1.141-1.573-1.141ZM81.187 8c-2.139 0-3.683.639-4.808 1.451-1.705 1.229.131 3.801 1.835 2.57.777-.558 1.354-.857 2.971-.857 2.016.041 3.638.804 3.638 2.323-1.081.689-5.778 1.258-8.301 2.704-2.522 1.445-2.39 3.269-2.39 4.453 0 2.596 2.717 4.348 5.07 4.348 2.352 0 3.351-.497 5.654-2.087v.455c-.076 2.182 3.218 2.182 3.143 0v-9.32c.011-3.866-2.745-5.979-6.812-6.04Zm3.745 8.601c0 1.026.014 1.32-.014 2.346-.006 1.231-.773 1.801-1.576 2.272-.804.471-2.436.884-3.382.928-1.09.037-2.538-.212-2.613-1.516 0-.786.379-1.273 1-1.817 1.47-1.111 3.463-1.484 6.585-2.213Z"
        />
        <path
          d="M65.582 8.034c-1.361 0-1.588 1.132-1.581 1.588v13.749c-.037.888.693 1.629 1.606 1.629.916 0 1.645-.741 1.608-1.63 0 0 .025-5.113 0-8.385-.025-3.273 2.619-3.983 3.54-3.983.683 0 1.228.384 1.77.364.802-.031 1.462-.574 1.462-1.527-.024-1.537-1.896-1.755-3.276-1.727-1.381.028-2.547.455-3.556 1.063 0 0-.211-1.141-1.573-1.141ZM81.187 8c-2.139 0-3.683.639-4.808 1.451-1.705 1.229.131 3.801 1.835 2.57.777-.558 1.354-.857 2.971-.857 2.016.041 3.638.804 3.638 2.323-1.081.689-5.778 1.258-8.301 2.704-2.522 1.445-2.39 3.269-2.39 4.453 0 2.596 2.717 4.348 5.07 4.348 2.352 0 3.351-.497 5.654-2.087v.455c-.076 2.182 3.218 2.182 3.143 0v-9.32c.011-3.866-2.745-5.979-6.812-6.04Zm3.745 8.601c0 1.026.014 1.32-.014 2.346-.006 1.231-.773 1.801-1.576 2.272-.804.471-2.436.884-3.382.928-1.09.037-2.538-.212-2.613-1.516 0-.786.379-1.273 1-1.817 1.47-1.111 3.463-1.484 6.585-2.213Z"
        />
        <path
          d="M41.399.307c-.991-.06-1.721.943-1.569 1.893v7.346c-3.127-2.678-8.221-2.492-11.108.474-2.918 2.656-3.475 7.474-1.352 10.793 1.561 2.503 4.414 4.291 7.355 4.148 1.849-.017 3.684-.831 5.105-2.035-.146.951.573 1.956 1.568 1.895.977.044 1.733-.941 1.583-1.893-.017-7.066.017-14.132-.017-21.196-.05-.796-.796-1.452-1.565-1.425Zm-6.862 10.557c2.824-.076 5.345 2.52 5.293 5.376.06 2.86-2.471 5.451-5.292 5.378-2.683.073-5.142-2.247-5.278-4.969-.286-2.803 1.969-5.536 4.729-5.759.183-.018.366-.027.548-.026ZM0 6.154v17.251c-.005 2.127 3.166 2.127 3.161 0V11.894h3.252c.76 0 1.411-.563 1.411-1.465 0-.904-.697-1.452-1.411-1.452H3.161V6.324c0-1.697 1.301-3.109 3.92-3.077.909.013 1.233.236 1.567.443 1.814 1.228 3.563-1.616 1.66-2.704C9.142.257 8.052 0 6.752 0 2.654 0 .024 3.179 0 6.154Z"
        />
        <path
          d="M41.399.307c-.991-.06-1.721.943-1.569 1.893v7.346c-3.127-2.678-8.221-2.492-11.108.474-2.918 2.656-3.475 7.474-1.352 10.793 1.561 2.503 4.414 4.291 7.355 4.148 1.849-.017 3.684-.831 5.105-2.035-.146.951.573 1.956 1.568 1.895.977.044 1.733-.941 1.583-1.893-.017-7.066.017-14.132-.017-21.196-.05-.796-.796-1.452-1.565-1.425Zm-6.862 10.557c2.824-.076 5.345 2.52 5.293 5.376.06 2.86-2.471 5.451-5.292 5.378-2.683.073-5.142-2.247-5.278-4.969-.286-2.803 1.969-5.536 4.729-5.759.183-.018.366-.027.548-.026ZM0 6.154v17.251c-.005 2.127 3.166 2.127 3.161 0V11.894h3.252c.76 0 1.411-.563 1.411-1.465 0-.904-.697-1.452-1.411-1.452H3.161V6.324c0-1.697 1.301-3.109 3.92-3.077.909.013 1.233.236 1.567.443 1.814 1.228 3.563-1.616 1.66-2.704C9.142.257 8.052 0 6.752 0 2.654 0 .024 3.179 0 6.154Z"
        />
      </g>
    </svg>
    <p class="text-xl font-medium md:hidden">{{ showRoute }}</p>
  </FpLink>
</template>
